---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		{
  "Description": "Fichier de vérification de la propriété du domaine pour Microsoft 365 : placer dans la racine du site web",
  "Domain": "fhgdjhfgdjhfgd.up.railway.app",
  "Id": "f58a1e05-6512-4491-9510-7b16670249fe"
}
	</p>

	
</Layout>
