---
const verificationData = {
  "Description": "Fichier de vérification de la propriété du domaine pour Microsoft 365 : placer dans la racine du site web",
  "Domain": "fhgdjhfgdjhfgd.up.railway.app",
  "Id": "f58a1e05-6512-4491-9510-7b16670249fe"
};
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Domain Verification</title>
  </head>
  <body>
    <pre>
      {JSON.stringify(verificationData, null, 2)}
    </pre>
  </body>
</html>
